<IfModule mod_rewrite.c>
    RewriteEngine On
    #ESTO DEBE QUITARSE O MODIFICARSE EN PRODUCCIÓN
    RewriteBase /easyFramework/

    # Excluir la regla de reescritura para URLs que contienen "api/uploads/"
    RewriteCond %{REQUEST_URI} !api/uploads/

    # La solicitud independientemente de la URL siempre va a redireccionar al Index
    RewriteRule ^ index.php [L]

</IfModule>
